<div class="container">

  <div class="main-body">
    <div class="row">
      <div class="col-md-9">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <div class="row align-items-center">
            <div class="col-md-2">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cambia Data
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div *ngFor='let ts of arrayDatePatient'>
                    <a [routerLink]="" fragment="" (click)="changeDatePatient(ts)" class="dropdown-item">{{ts |
                      date:'dd/MM/yyyy'}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 text-center">
              <h3>Dati del: {{lastChosenTS | date:'dd/MM/yyyy'}}</h3>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-sm-3">
        <div class="col text-center vertical-padding1">
          <a [routerLink]="['/listPatient']" routerLinkActive="router-link-active">
            <img src="./assets/listaPazienti_icon.jpg" alt="home" width="75" height="75">
          </a>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            <img src="./assets/home_icon.jpg" alt="home" width="75" height="75">
          </a>
        </div>
      </div>
    </div>

    <!-- Breadcrumb -->

    <form name="dataChangeForm" id="dataChangeForm" ngNativeValidate #dataChangeForm="ngForm">

      <div class="row gutters-sm text align-items-center">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{patient.photoURL}}" alt="Admin" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>{{patient.nome}} {{patient.cognome}}</h4>
                  <p class="text-secondary mb-1">{{patient.datiPersonali.dataNascita}},
                    {{ageCalculator(patient.datiPersonali.dataNascita)}} anni</p>
                  <p class="text-muted font-size-sm">{{patient.datiPersonali.indirizzoDomicilio}},
                    {{patient.datiPersonali.comuneDomicilio}}, {{patient.datiPersonali.CAP}}</p>
                  <button class="btn btn-primary" (click)="editable = !editable">Modifica Dati Paziente</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Codice Fiscale</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{patient.CF}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Sesso</h6>
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                  {{patient.datiPersonali.sesso}}
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                  <select [(ngModel)]="patient.datiPersonali.sesso" name="sesso" class="form-control" id="sesso">
                    <option id="maschio" name="maschio" value="Maschio">Maschio</option>
                    <option id="femmina" name="femmina" value="Femmina">Femmina</option>
                    <option id="altro" name="altro" value="Altro">Altro</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                  {{patient.datiPersonali.email}}
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                  <input type="text" [(ngModel)]="patient.datiPersonali.email" name="email" class="form-control"
                    id="sesso" value="patient.datiPersonali.email">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Telefono</h6>
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                  {{patient.datiPersonali.telefono}}
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                  <input type="text" [(ngModel)]="patient.datiPersonali.telefono" name="telefono" class="form-control"
                    id="telefono" value="patient.datiPersonali.telefono">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Comune di Nascita</h6>
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                  {{patient.datiPersonali.comuneNascita}}
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                  <input type="text" [(ngModel)]="patient.datiPersonali.comuneNascita" name="comuneNascita"
                    class="form-control" id="comuneNascita" value="patient.datiPersonali.comuneNascita">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Pec</h6>
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                  {{patient.datiPersonali.pec}}
                </div>
                <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                  <input type="text" [(ngModel)]="patient.datiPersonali.pec" name="pec" class="form-control" id="pec"
                    value="patient.datiPersonali.pec">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutters-sm align-items-center">
          <div class="col-md-4">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button btn-outline-primary collapsed"
                  (click)="isCollapsed1 = !isCollapsed1; isCollapsed2 = true; isCollapsed3 = true; isCollapsed4 = true;"
                  [attr.aria-expanded]="!isCollapsed1" aria-controls="sanitari1">
                  Esenzione, Reti di patologie e stato paziente
                </button>
              </h2>
              <div id="sanitari1" [ngbCollapse]="isCollapsed1">
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(1)">
                    Esenzione e reti patologie
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(2)">
                    Stato corrente del paziente
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(3)">
                    Problemi rilevanti e diagnosi
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(4)">
                    Trapianti, Malformazioni
                  </button>
                </h4>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button btn-outline-primary collapsed"
                  (click)="isCollapsed2 = !isCollapsed2; isCollapsed1 = true; isCollapsed3 = true; isCollapsed4 = true;"
                  [attr.aria-expanded]="!isCollapsed2" aria-controls="sanitari2">
                  Allergie, Terapie Farmacologiche, Rischi immunitari, Vaccinazioni
                </button>
              </h2>
              <div id="sanitari2" [ngbCollapse]="isCollapsed2">
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(5)">
                    Allergie
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(6)">
                    Terapie Farmacologiche
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(7)">
                    Protesi e ausili
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(8)">
                    Vaccinazioni
                  </button>
                </h4>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button btn-outline-primary collapsed"
                  (click)="isCollapsed3 = !isCollapsed3; isCollapsed1 = true; isCollapsed2 = true; isCollapsed4 = true;"
                  [attr.aria-expanded]="!isCollapsed3" aria-controls="sanitari3">
                  Care Giver, Patologie, Gravidanze
                </button>
              </h2>
              <div id="sanitari3" [ngbCollapse]="isCollapsed3">
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(9)">
                    Care Giver
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(10)">
                    Donazione organi, Patologie e Gravidanze
                  </button>
                </h4>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button btn-outline-primary collapsed"
                  (click)="isCollapsed4 = !isCollapsed4; isCollapsed1 = true; isCollapsed2 = true; isCollapsed3 = true;"
                  [attr.aria-expanded]="!isCollapsed4" aria-controls="sanitari4">
                  Parametri di monitoraggio e informazioni paziente
                </button>
              </h2>
              <div id="sanitari4" [ngbCollapse]="isCollapsed4">
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(11)">
                    Parametri di Monitoraggio
                  </button>
                </h4>
                <h4 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion" (click)="changeSectionGo(12)">
                    Stato corrente del paziente
                  </button>
                </h4>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="row">
              <div class="tab-content" id="myTabContent">

                <!--Prima sezione-->

                <!--Card esenzioni e reti di patologie-->
                <div class="card mb-3">
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 1 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Codici di Esenzione</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.codiceEsenzione}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.codiceEsenzione" name="codiceEsenzione"
                          class="form-control" id="codiceEsenzione" value="patient.datiMedico.codiceEsenzione">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Reti Patologie Assistito</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.retiPatologieAssistito}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.retiPatologieAssistito"
                          name="retiPatologieAssistito" class="form-control" id="retiPatologieAssistito"
                          value="patient.datiMedico.retiPatologieAssistito">
                      </div>
                    </div>
                  </div>

                  <!--Card Stato corrente del paziente-->

                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 2 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Capacità motoria Assistito</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.capacitaMotoriaAssistito}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <select [(ngModel)]="patient.datiMedico.capacitaMotoriaAssistito"
                          name="capacitaMotoriaAssistito" class="form-control" id="capacitaMotoriaAssistito">
                          <option id="autonomo" name="autonomo" value="Autonomo">Autonomo</option>
                          <option id="assistito" name="assistito" value="Assistito">Assistito</option>
                          <option id="allettato" name="allettato" value="Allettato">Allettato</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Attività lavorativa</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.attivitaLavorativa}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.attivitaLavorativa" name="attivitaLavorativa"
                          class="form-control" id="attivitaLavorativa" value="patient.datiMedico.attivitaLavorativa">
                      </div>
                    </div>
                  </div>

                  <!--Card Stato corrente del paziente-->

                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 3 }">
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <h6 class="mb-0">Patologie Croniche Rilevanti</h6>
                      </div>

                      <div class="col-sm-9 text-secondary">
                        <div *ngFor="let item of patient.datiMedico.patologieCronicheRilevanti">
                          {{item}}
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Card Trapianti malformazioni-->

                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 4 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Organi Mancanti</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.organiMancanti}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.organiMancanti" name="organiMancanti"
                          class="form-control" id="organiMancanti" value="patient.datiMedico.organiMancanti">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Trapianti</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.trapianti}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.trapianti" name="trapianti"
                          class="form-control" id="trapianti" value="patient.datiMedico.trapianti">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Rilevanti Malformazioni</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.rilevantiMalformazioni}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.rilevantiMalformazioni"
                          name="rilevantiMalformazioni" class="form-control" id="rilevantiMalformazioni"
                          value="patient.datiMedico.rilevantiMalformazioni">
                      </div>
                    </div>
                  </div>


                  <!--Fine Prima sezione-->

                  <!--Seconda sezione-->

                  <!--Card Allergie-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 5 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Razione avverse a Farmaci e/o alimenti</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.reazioniAvverseFarmaciAlimenti}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.reazioniAvverseFarmaciAlimenti"
                          name="reazioniAvverseFarmaciAlimenti" class="form-control" id="reazioniAvverseFarmaciAlimenti"
                          value="patient.datiMedico.reazioniAvverseFarmaciAlimenti">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Allergie cutanee, respiratorie e sistemiche</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.allergieCutaneeRespiratorieSistemiche}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.allergieCutaneeRespiratorieSistemiche"
                          name="allergieCutaneeRespiratorieSistemiche" class="form-control"
                          id="allergieCutaneeRespiratorieSistemiche"
                          value="patient.datiMedico.allergieCutaneeRespiratorieSistemiche">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Allergie a veleno di imenotteri</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.allergieVelenoImenotteri}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.allergieVelenoImenotteri"
                          name="allergieVelenoImenotteri" class="form-control" id="allergieVelenoImenotteri"
                          value="patient.datiMedico.allergieVelenoImenotteri">
                      </div>
                    </div>
                  </div>

                  <!--Card Terapie Farmacologiche-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 6 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Terapie farmacologiche croniche</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.terapieFarmacologicheCroniche}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.terapieFarmacologicheCroniche"
                          name="terapieFarmacologicheCroniche" class="form-control" id="terapieFarmacologicheCroniche"
                          value="patient.datiMedico.terapieFarmacologicheCroniche">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Anamnesi Famigliari</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.anamnesiFamigliari}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.anamnesiFamigliari" name="anamnesiFamigliari"
                          class="form-control" id="anamnesiFamigliari" value="patient.datiMedico.anamnesiFamigliari">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Terapie Farmacologiche</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.terapieFarmacologiche}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.terapieFarmacologiche"
                          name="terapieFarmacologiche" class="form-control" id="terapieFarmacologiche"
                          value="patient.datiMedico.terapieFarmacologiche">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Fattori di Rischio</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.fattoriRischio}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.fattoriRischio" name="fattoriRischio"
                          class="form-control" id="fattoriRischio" value="patient.datiMedico.fattoriRischio">
                      </div>
                    </div>
                  </div>

                  <!--Card Protesi e Ausili-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 7 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Protesi</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.protesi}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.protesi" name="protesi" class="form-control"
                          id="protesi" value="patient.datiMedico.protesi">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Ausili</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.ausili}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.ausili" name="ausili" class="form-control"
                          id="ausili" value="patient.datiMedico.ausili">
                      </div>
                    </div>
                  </div>

                  <!--Card Vaccinazioni-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 8 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Vaccinazioni</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.vaccinazioni}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.vaccinazioni" name="vaccinazioni"
                          class="form-control" id="vaccinazioni" value="patient.datiMedico.vaccinazioni">
                      </div>
                    </div>
                  </div>

                  <!--Fine Seconda sezione-->

                  <!--Terza sezione-->

                  <!--Card Care Giver-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 9 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Contatto Care Giver</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.contattoCareGiver}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.contattoCareGiver" name="contattoCareGiver"
                          class="form-control" id="contattoCareGiver" value="patient.datiMedico.contattoCareGiver">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Telefono Care Giver</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.telefonoCareGiver}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.telefonoCareGiver" name="telefonoCareGiver"
                          class="form-control" id="telefonoCareGiver" value="patient.datiMedico.telefonoCareGiver">
                      </div>
                    </div>
                  </div>

                  <!--Card Donazione organi, Patologie e Gravidanze-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 10 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Donazione Organi</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.donazioneOrgani}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <select [(ngModel)]="patient.datiMedico.donazioneOrgani" name="donazioneOrgani"
                          class="form-control" id="donazioneOrgani">
                          <option id="si" name="si" value="Si">Si</option>
                          <option id="no" name="no" value="No">No</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Gravidanze e Parti</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.gravidanzeParti}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.gravidanzeParti" name="gravidanzeParti"
                          class="form-control" id="gravidanzeParti" value="patient.datiMedico.gravidanzeParti">
                      </div>
                    </div>
                    <hr>
                    <div class="row align-items-center">
                      <div class="col-md-3">
                        <h6 class="mb-0">Patologie Croniche Rilevanti</h6>
                      </div>

                      <div class="col-md-9 text-secondary text-center">
                        <div *ngFor="let item of patient.datiMedico.patologieCronicheRilevanti">
                          {{item}}
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Fine Terza sezione-->

                  <!--Quarta sezione-->

                  <!--Card Parametri di monitoraggio-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 11 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Altezza</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.altezza}} cm
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.altezza" name="altezza" class="form-control"
                          id="altezza" value="patient.datiMedico.altezza">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Peso</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.peso}} kg
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.peso" name="peso" class="form-control"
                          id="peso" value="patient.datiMedico.peso">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Pressione Arteriosa</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.pressioneArteriosa}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.pressioneArteriosa" name="pressioneArteriosa"
                          class="form-control" id="pressioneArteriosa" value="patient.datiMedico.pressioneArteriosa">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">BMI</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.BMI}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.BMI" name="BMI" class="form-control" id="BMI"
                          value="patient.datiMedico.BMI">
                      </div>
                    </div>
                  </div>

                  <!--Card Stato corrente paziente-->
                  <div class="card-body" [ngClass]="{'non-display-section' : controllerSection != 12 }">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Assistenza domiciliare integrata (ADI)</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.ADI}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <select [(ngModel)]="patient.datiMedico.ADI" name="ADI" class="form-control" id="ADI">
                          <option id="si" name="si" value="Si">Si</option>
                          <option id="no" name="no" value="No">No</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Assistenza domiciliare programmata (ADP)</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.ADP}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <select [(ngModel)]="patient.datiMedico.ADP" name="ADP" class="form-control" id="ADP">
                          <option id="si" name="si" value="Si">Si</option>
                          <option id="no" name="no" value="No">No</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Gruppo Sanguigno</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.gruppoSanguigno}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <select [(ngModel)]="patient.datiMedico.gruppoSanguigno" name="gruppoSanguigno"
                          class="form-control" id="gruppoSanguigno">
                          <option id="0" name="0" value="0">0</option>
                          <option id="A" name="A" value="A">A</option>
                          <option id="B" name="B" value="B">B</option>
                          <option id="AB" name="AB" value="AB">AB</option>
                          <option id="altro" name="altro" value="Altro">Altro</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Fattore Rh</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.fattoreRH}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <select [(ngModel)]="patient.datiMedico.fattoreRH" name="fattoreRH" class="form-control"
                          id="fattoreRH">
                          <option id="positivo" name="positivo" value="Positivo">Positivo</option>
                          <option id="negativo" name="negativo" value="Negativo">Negativo</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Codice ATS</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : editable }">
                        {{patient.datiMedico.codiceATS}}
                      </div>
                      <div class="col-sm-9 text-secondary" [ngClass]="{'non-display-section' : !editable }">
                        <input type="text" [(ngModel)]="patient.datiMedico.codiceATS" name="codiceATS"
                          class="form-control" id="codiceATS" value="patient.datiMedico.codiceATS">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="vertical-padding1" [ngClass]="{'non-display-section' : !editable }">
            <button type="button" class="btn btn-primary" (click)="addNewPatient()">Salva Modifiche</button>
          </div>
        </div>
      </div>
    </form>