<div class="forgotpassword-form">
    <form (submit) = forgotPass() ngNativeValidate #formForgotPass>
    <h2>Reset Password</h2>
    <p class="hint-text">Resetta la password</p>
    <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email Address" required [(ngModel)] = "emailAdress">
    </div>
    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-lg">Reset</button>
    </div>
    <div class="text-center">Torna al <a style="color : #007bff;" href="/signIn">Login</a></div>
</form>
</div>